#pragma once

// =================================================================
// ============== FICHIER DES ACCÈS CONFIDENTIELS ==================
// =================================================================
// CE FICHIER NE DOIT JAMAIS ÊTRE PARTAGÉ OU VERSIONNÉ SUR GIT.
// Remplacer les valeurs ci-dessous par vos propres informations.

// -------- Configuration WiFi --------
#define WIFI_SSID "Your WiFi SSID"
#define WIFI_PASSWORD "Your WiFi password"

// -------- Configuration MQTT pour ThingsBoard --------
#define TB_SERVER "Your ThingsBoard server IP"
#define TB_GATEWAY_TOKEN "Your gateway access token"

// -------- Configuration de la sécurité LoRa --------
// La clé secrète DOIT faire 16 octets (128 bits) pour AES-128
#define LORA_SECRET_KEY "ThisIsASecretKey"
// L'IV DOIT faire 16 octets (128 bits) pour AES-128
#define LORA_AES_IV "AndThisIsAnIVKey"
